:root {
	--uc-teal: #00C6D7;
	--uc-blue: #00629B;
	--uc-gold: #FFCD00;
	--uc-orange: #FC8900;
	--uc-grey: #B6B1A9;
	--huge-computer: 40px;
	--huge-mobile: 36px;
	--large-computer: 36px;
	--large-mobile: 24px;
	--normal-computer: 20px;
	--normal-mobile: 18px;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--uc-blue);
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 10px;
}
  
#photo-carousel {
	margin: 10px;
}


/* Mobile: banner image above centered text */
/*@media screen and (max-width: 992px) {*/
	.main-content {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	header {
		position: sticky;
		font-family: 'Source Sans Pro', sans-serif;
		/* font-size: var(--huge-mobile);*/
		font-size: clamp(var(--normal-mobile),5vw,var(--huge-computer));
		font-weight: 600;
		letter-spacing: 2pt;
		color: var(--uc-teal);

		padding: 5px;

		margin-top: auto;
		margin-bottom: auto;
		padding-bottom: 20px;

	}

	/* Shorten name for small viewports*/
	header .cse-cohorts {
		display: none;
	}	

	header img {
		height: 40px;
	}

	header button {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		/*font-size: var(--large-mobile);*/
		font-size: clamp(var(--normal-mobile),4vw,var(--huge-computer));
		color: var(--uc-blue);
		border: 3px solid white;
		height: 44px;
		background-color: white;
		border-radius: 10px;
		cursor: pointer;

		flex-basis: 20%; /* responsive width */
	}

	header button a {
		color: var(--uc-blue);
	}

	div.banner {
		width: 100%;
	}

	div.banner .left {
		background-image: url("images/W10_3.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: 0px;
		width: 100%;
		min-height: 200px;
		max-height: 200px;
	}

	div.banner .times {
		background-color: var(--uc-orange);
	}

	.banner .times dd {
		font-family: 'Source Sans Pro', sans-serif;
		/*font-size: var(--normal-mobile);*/
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));
		font-weight: 600;
		line-height: 85%;
		color: white;

		text-align: center;
	}

	.banner .times dt {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: clamp(var(--large-mobile),1vw,var(--large-computer));
		font-weight: 600;
		line-height: clamp(var(--normal-mobile),1vw,var(--normal-computer));
		color: var(--uc-blue);

		text-align: center;

		padding-top:10px;
		padding-bottom: 10px;
	}

	#photo-carousel img {
		height: 400px;
	}

	.info {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}

	.info span.lead-in {
		color: var(--uc-blue);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: clamp(var(--large-mobile),1vw,var(--large-computer));
		font-weight: 600;
	}

	.info li {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));
	}

	.info img {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}

	.info .you-will {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	/* location class is for four "call to action buttons"*/	
	.location button {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));

		color: var(--uc-blue);
		border: 1px solid var(--uc-gold);
		background-color: white;
		border-radius: 10px;
		min-width: 130px;

		cursor: pointer;
    	margin-bottom: 10px;
	}

	.feature {
		margin-top: 20px;
		background: var(--uc-orange);
		color: white;
		font-size: clamp(var(--large-mobile),1vw,var(--large-computer));
		padding: 10px;
	}

	.feature span {
		padding-left: 20px;
		display: inline-block;
	}

	.learn-more .explanation p {
		padding: 10px;
		margin: 10px;
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));
	}

	/* directions class is for two map version buttons*/
	.directions img {
		width: 100%;
	}

	.directions button {
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));

		color: var(--uc-blue);
		border: 1px solid var(--uc-gold);
		background-color: white;
		border-radius: 10px;

		margin-left: 1em;
		margin-right: 1em;
		padding: 10px;

		cursor: pointer;
	}

	.directions .maps {
		width: 100%;
	}

	.directions .map-links span {
		font-size: clamp(var(--normal-mobile),1vw,var(--normal-computer));
	}

	.directions .map-links {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.team .team-member {
		display: flex;
		justify-content: space-around;
		padding: 10px;
	}

	.team .team-member img {
		max-width: 120px;	
		height: auto;
		object-fit: cover;
	}

	.team .team-member .bio {
		padding-left: 10px;
		flex-grow: 1;
	}

	.team .team-member h3 {
		color: var(--uc-blue);
		margin: 10px;
	}

	.team dt{
		margin: 10px;
	}
	.team dd{
		margin: 20px;
	}

	h2 {
		font-size: clamp(var(--large-mobile),1vw,var(--large-computer));
	}
