:root {
	--uc-teal: #00C6D7;
	--uc-blue: #00629B;
	--uc-gold: #FFCD00;
	--uc-orange: #FC8900;
	--uc-grey: #B6B1A9;
	--huge-computer: 36px;
	--huge-multiplier: 5vw;
	--huge-mobile: 24px;
	--large-computer: 24px;
	--large-multiplier: 5vw;
	--large-mobile: 18px;
	--normal-computer: 18px;
	--normal-multiplier: 3vw;
	--normal-mobile: 14px;
}

/* Global box-sizing and reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
}

/* Base font and line height */
body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.4;
	/*font-size: clamp(var(--normal-mobile),var(--normal-multiplier),var(--normal-computer));*/
	margin: clamp(0,0.05vw,50px);
	width: 100%;
}

/* Headings */
h2 {
	font-size: clamp(var(--large-mobile),var(--large-multiplier),var(--large-computer));
}

h3 {
	font-weight: 200;
	font-size: clamp(var(--normal-mobile),var(--normal-multiplier),var(--normal-computer));
}

/* Links */
a {
	text-decoration: none;
}

a:hover {
	color: var(--uc-blue);
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}

/* Main content */

.main-content {
	padding-left: clamp(0,0.05vw,50px);
	padding-right: clamp(0,0.05vw,50px);
	padding-top: clamp(0,0.05vw,50px);
	margin: 0px;
	width:100%;
}

/* Header */

header {
	position: sticky;
	font-size: clamp(var(--huge-mobile),var(--huge-multiplier),var(--huge-computer));
	font-weight: 600;
	letter-spacing: 2pt;
	color: var(--uc-teal);
	
	margin-top: auto;
	margin-bottom: auto;

	padding: 5px;
	padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
/* Shorten name for small viewports*/
header .cse-cohorts {
	display: none;
}	
}

header img {
	height: 40px;
}

header button {
	height: 44px;
	border: 3px solid white;
	background-color: white;
	cursor: pointer;
}

header button a {
	color: var(--uc-blue);
}

/* Footer */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--uc-blue);
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 10px;
}

/* Feature sections */

banner {
	width: 100%;
	background-color: var(--uc-orange);
}

banner .bannerimage {
	background-image: url("images/W10_3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 0px;
	width: 100%;
	min-height: 200px;
	max-height: 200px;
}

banner dt {
	font-size: clamp(var(--large-mobile),var(--large-multiplier),var(--large-computer));
	color: var(--uc-blue);
	padding-top:10px;
	padding-bottom: 0px;
}

banner dd {
	font-size: clamp(var(--normal-mobile),var(--normal-multiplier),var(--normal-computer));
	font-weight: 600;
	line-height: 0.85;
	color: white;
	text-align: center;	
}

banner a{
	color: white;
}

banner p {
	font-size: clamp(var(--large-mobile),var(--large-multiplier),var(--large-computer));
	line-height: 1;
	color: white;
	margin: 10px;		
}

info {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	margin: 10px;
}

info span.lead-in {
	color: var(--uc-blue);
	font-size: clamp(var(--large-mobile),var(--large-multiplier),var(--large-computer));
	font-weight: 600;
}

info ul {
	padding-inline-start: 5vw;
}

info dt {
	color: var(--uc-orange);
	font-weight: bolder;
	padding-top:10px;
	padding-bottom: 0px;
}

info a{
	color: var(--uc-blue);
	font-weight: bolder;
}


info img {
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 0px;
}


topics dt {
	color: var(--uc-orange);
	font-weight: bolder;
	padding-top:10px;
	padding-bottom: 10px;
}
topics a{
	color: black;
}

calltoaction button {
	font-weight: bold;
	color: var(--uc-blue);
	border: 1px solid var(--uc-gold);
	background-color: white;
	border-radius: 10px;
	min-width: 130px;
	
	cursor: pointer;
	margin-bottom: 10px;
}


teammember {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

teammember img {
	max-width: 140px;	
	height: auto;
	object-fit: cover;
}

teammember bio {
	padding-left: 10px;
	flex-grow: 1;
}

teammember bio h3 {
	color: var(--uc-blue);
	font-weight: bolder;
	margin-left: 10px;
	margin-bottom: 10px;
}

teammember p {
	margin: 10px;
}

/* Media */

video {
	height: 40%;
	width: auto;
	max-width: 300px; 
	object-fit: cover;
	object-position: center;
}

#photo-carousel {
	margin: 10px;
}

#photo-carousel img {
	height: auto;
	max-height: 400px;
	width: auto;
}

